*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  inline-size: 1200px;
  margin: 0 auto;
}
.logo {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font: bold calc(1em + 1 * (100vw - 120px) / 200) "Dancing Script", fantasy;
  color: #80d3f6;
  text-shadow: #000 2px 2px 0.2rem;
}
.grid {
  /* Делаем грид-контейнером */
  display: grid;

  grid-template-columns: 1fr 3fr;
  margin: 0 avto;
  border-inline-end: 50px solid #d9e6f3;
  border-inline-start: 50px solid #d9e6f3;
}

.grid > div {
  margin: 7px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/* Отступы между ячейками сетки */

.content {
  /* Привязываем элемент к зоне content */
  grid-column: 2/ 3;
  grid-row: 2 / 3;
  padding: 10px;
}
.header {
  margin: 10px;
  padding: 20px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background: left / cover url("IMG/heder_fon.png");
}
.nav {
  margin: 10px;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}
.sidebar {
  margin: 10px;
  padding: 0 10px 0 0;
  grid-column: 1/ 2;
  grid-row: 2 / 3;
  /* чуть ниже хедера */
  top: 40px;
  background: rgb(230, 241, 241);
}
.footer {
  grid-column: 1 / 4;
  grid-row: 3/ 4;
  top: 40px;
}
h1,
h2,
h3,
h5,
h6 {
  text-align: center;
}

.ramka {
  font-size: 16px;
  background-color: rgb(235, 241, 245);
  color: #000;
  font-family: "Courier New", Courier, monospace;
  inline-size: 100%;
  margin: 20px 0 20px 0;
}

.pictures {
  margin: 20px auto;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 100%;
}
.pictures1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 70%;
}
.pictures2 {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 50%;
}
span {
  font-size: 18px;
  color: #d13708;
  background: #e3f1fa;
}
.span {
  font-size: 18;
  color: #000;
  background: yellow;
}
.anchor {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a0b0bb),
    to(#3e5d75)
  );
  background: linear-gradient(to right, #a0b0bb, #3e5d75);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
}
kbd {
  background: var(--prcd-kbd-bg, #dcdcdc);
  border-width: 3px 4px 5px;
  border-style: solid;
  border-color: var(--prcd-kbd-brdc, #cdcdcd #c9c9c9 #c0c0c0);
  padding: 0 10px;
  font-size: 14px;
  color: var(--prcd-kbd-color, #333);
  border-radius: 3px;
  line-height: 36px;
}
caption {
  color: #ababab;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
  text-align: right;
}

#example_11 {
  width: 300px;
  height: 200px;
  background-color: rgb(158, 214, 252);
}

#example_1 {
  width: 300px;
  max-width: 200px;
  background-color: rgb(158, 214, 252);
}
#example_2 {
  width: 300px;
  background-color: rgb(158, 214, 252);
}
#example_3 {
  height: 100px;
  max-height: 50px;
  background-color: rgb(158, 214, 252);
}
#example_4 {
  height: 100px;
  background-color: rgb(158, 214, 252);
}
#example_5 {
  width: 300px;
  min-width: 400px;
  background-color: rgb(158, 214, 252);
}

#example_6 {
  width: 300px;
  background-color: rgb(158, 214, 252);
}
#example_7 {
  min-width: 300px;
  max-width: 500px;
  background-color: rgb(158, 214, 252);
}

#example_8 {
  min-height: 100px;
  max-height: 200px;
  background-color: rgb(158, 214, 252);
}

#example_9 {
  box-sizing: content-box;
  width: 160px;
  height: 80px;
  padding: 20px;
  border: 8px solid red;
  background: yellow;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
Content box width: 160px
Content box height: 80px */
}

#example_10 {
  box-sizing: border-box;
  width: 160px;
  height: 80px;
  padding: 20px;
  border: 8px solid red;
  background: yellow;
  /* Total width: 160px
Total height: 80px
Content box width: 160px - (2 * 20px) - (2 * 8px) = 104px
Content box height: 80px - (2 * 20px) - (2 * 8px) = 24px */
}
.box-inner {
  display: flex;
  flex-wrap: wrap;
}
.box {
  border: 5px solid black;
  padding: 5px;
  width: 33%;
  height: 250px;
  background-color: rgb(187, 70, 70);
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  line-height: 20px;
}

.static {
  position: static;
  top: 50px; /* Не сработает */
  left: 50px; /* Не сработает */
}

#example_12 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 5px solid rgb(80, 233, 238);
}

.relative {
  position: relative;
  top: 20px;
  left: 30px;
}
#example_13 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 5px solid rgb(80, 233, 238);
}

.container1 {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: lightgray;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 100px;
}
#example_14 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 5px solid rgb(80, 233, 238);
}

.fixed {
  position: fixed;
  bottom: 100px;
  left: 100px;
  background-color: lightcoral;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  line-height: 20px;
}
.content1 {
  height: 200px; /* Для создания прокрутки */
}

#example_15 {
  display: grid;
  grid-template-columns: 1fr;
  border: 5px solid rgb(80, 233, 238);
}

/* Липкий контейнер */
.table-wrapper {
  /* ограничиваем высоту, чтобы был вертикальный скролл */
  max-height: 300px;
  /* включаем прокрутку (и вертикаль, и горизонталь, если нужно) */
  overflow: auto;
}
table {
  /* убираем лишние зазоры между ячейками */
  border-spacing: 0;
  /* чтобы при узком контейнере был горизонтальный скролл */
  min-width: 600px;
}
/* Заголовки колонок */
thead th {
  position: sticky;
  /* Прилипаем к верху контейнера */
  top: 0;
}
/* Первая колонка — липнем слева при горизонтальном скролле */
thead th:first-child,
tbody td:first-child {
  position: sticky;
  /* Цепляемся за левую границу контейнера */
  left: 0;
}
th,
td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: lightgray;
  width: 100px;
  height: 50px;
}

.parent {
  background-color: #5faff5;
  padding: 10px;
  height: 30vh;
}
.child {
  padding: 10px;
}
.child-one {
  background-color: #3ed277;
}
.child-two {
  background-color: #dc9f3c;
}
.child-three {
  background-color: #b14aaa;
}

.parent1 {
  background-color: #5faff5;
  padding: 5px;
  position: relative;
  height: 50vh;
}
.child1 {
  padding: 5px;
  /*
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  */
}
@supports (position: sticky) {
  .child1 {
    position: sticky;
    top: 0;
  }
}
.child1-one {
  background-color: #3ed277;
}
.child1-two {
  background-color: #dc9f3c;
}
.child1-three {
  background-color: #b14aaa;
}

.header2 {
  height: 150px;
  background-color: #384874;
}
.menu2 {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
.menu2 ul {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: #be7c7c;
  padding: 15px;
}
.menu2 li {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
}
.menu2 li:last-child {
  margin-right: 0;
}
.content2 {
  padding-top: 80px;
}
